# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages used in Data Science
- List libraries used in Data Science
- Show some examples of arithmetic expresisons in Python

Some of the popular languages that Data Scientists use are:
1. Python 
2. R 
3. SQL
4. Java 
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Tensorflow

|Data Science tools|
|------------------|
|RStudio|
|Apache Hadoop|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [20]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [22]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Alejandra Lopez